<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Welcome to signup</h1>
    <form action="/signup" method="POST">
        Username: <input id="username" name="email" placeholder="USERNAME"> <br>
        Password: <input id="password" name="password" placeholder="PASSWORD"> <br>
        <button type="submit">Signup</button>
    </form>

    <div>
        Already a user? Login!
        <a href="/login">Login</a>
    </div>
</body>

</html>