.container{
    width: 200px;
    height: 250px;
    margin: auto;
    background-color: orange;
    border: 1px solid black;
    /* transform: rotateX(45deg); */
    /* transform: scaleX(2); */
    /* transform: skewX(40deg); */
    transition-duration: 1s;
}

.container:hover{
    transform: rotateZ(275deg);
}