<div class="productsList">
    {{#each this.products as |product|}}
    <div class="productItem">
        <img src="{{product.imageUrl}}"><br>
        <div class="name">{{product.name}}</div>
        <div class="price">{{product.price}}</div>
        <div class="description">{{product.description}}</div>
        <button>DELETE</button>
        <button>UPDATE</button>
        <button>DETAILS</button>
    </div>
    {{/each}}
</div>