<nav class="navbar">
    <a class="navItem" href="#">Shop</a>
    <a class="navItem" href="#">Profile</a>
    <a class="navItem" href="/shop/products">Products</a>
    {{#if this.isAdmin}}
        <a class="navItem" href="/admin/products">Admin Products</a>
        <a class="navItem" href="/admin/add-product">Add Products</a>
    {{/if}}

    <a href="/logout" class="navItem">Logout</a>
</nav>