<nav class="navbar">
    <a class="navItem" href="#">Shop</a>
    <a class="navItem" href="#">Profile</a>
    <a class="navItem" href="#">Products</a>
    <a class="navItem" href="#">Admin Products</a>
    <a class="navItem" href="/admin/add-product">Add Products</a>
</nav>