body{
    /* height: 1000px; */
    background: url('https://im.rediff.com/cricket/2023/jan/17kohli1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
}