.parent{
    width: 600px;
    border: 1px solid black;
    margin: 10px auto;
}

.div{
    width: 200px;
    border: 1px solid black;
    margin: 10px auto;
    padding: 5px;
    /* text-align: center; */
}

.img{
    width: 30%;
    border-radius: 50%;
}