.container{
    display: grid;
    grid-template-rows: repeat(3, 40px);
    grid-template-columns: repeat(4, 40px);
    grid-template-areas: 
    "el1 el1 el2 el2"
    "el1 el1 el3 el4"
    "el5 el5 el5 el5";
}

.el{
    background-color: coral;
    border: 1px solid black;
}

.el-1{
    grid-area: el1;
    /* overflow: scroll; */
}

.el-2{
    grid-area: el2;
}

.el-3{
    grid-area: el3;
}

.el-4{
    grid-area: el4;
}

.el-5{
    grid-area: el5;
}